//colors
$white: #fff;
$color_red_berry_approx: #800;
$color_gallery_approx: #eee;
$color_crescendo: #f6d600;

//urls
$url_0: url(../images/sfondo/01.jpg);
$url_1: url(../images/sfondo/02.jpg);
$url_2: url(../images/sfondo/03.jpg);
$url_3: url(../images/sfondo/04.jpg);
$url_4: url(../images/sfondo/05.jpg);
$url_5: url(../images/sfondo/06.jpg);
$url_6: url(../images/sfondo/07.jpg);
$url_7: url(../images/sfondo/08.jpg);
$url_8: url(../images/sfondo/09.jpg);
$url_9: url(../images/sfondo/10.jpg);
$url_10: url(../images/sfondo/11.jpg);
$url_11: url(../images/sfondopulsante.png);
$url_12: url(../images/sfondo/bio-01.jpg);
$url_13: url(../images/sfondo/mission-01.jpg);
$url_14: url(../images/sfondo/contatti-01.jpg);
$url_15: url(../images/calendario.png);
$url_16: url(../images/mappa.png);
$url_17: url(../images/link.png);
$url_18: url(../images/poweredbianco.png);
$url_19: url(../images/bandiera_it.png);
$url_20: url(../images/bandiera_en.png);
$url_21: url(../images/curriculum/curr1.jpg);
$url_22: url(../images/curriculum/curr2.jpg);
$url_23: url(../images/curriculum/curr3.jpg);
$url_24: url(../images/curriculum/curr4.jpg);
$url_25: url(../images/curriculum/curr5.jpg);
$url_26: url(../images/curriculum/curr6.jpg);
$url_27: url(../images/curriculum/curr7.jpg);
$url_28: url(../images/curriculum/curr8.jpg);
$url_29: url(../images/repertorio/mozart.jpg);
$url_30: url(../images/repertorio/clementi.jpg);
$url_31: url(../images/repertorio/schubert.jpg);
$url_32: url(../images/repertorio/brahms-johannes-360.jpg);
$url_33: url(../images/repertorio/Mendelssohn_Bartholdy.jpg);
$url_34: url(../images/repertorio/Reger-Max.jpg);
$url_35: url(../images/repertorio/Liszt.png);
$url_36: url(../images/repertorio/Dvorak.jpg);
$url_37: url(../images/repertorio/Debussy.jpg);
$url_38: url(../images/repertorio/Ravel.jpg);
$url_39: url(../images/repertorio/Rachmaninoff.jpg);
$url_40: url(../images/repertorio/Rossini.jpeg);
$url_41: url(../images/repertorio/gershwin.jpg);
$url_42: url(../images/repertorio/Barber.jpg);
$url_43: url(../images/repertorio/Joplin.jpg);
$url_44: url(../images/repertorio/Hindemith.jpg);
$url_45: url(../images/repertorio/Stravinsky.jpg);
$url_46: url(../images/repertorio/Casella.jpg);
$url_47: url(../images/repertorio/Malipiero.jpg);
$url_48: url(../images/repertorio/Satie.jpg);
$url_49: url(../images/repertorio/Procaccini.jpeg);
$url_50: url(../images/repertorio/HRADECKY.JPG);
$url_51: url(../images/repertorio/Viozzi.jpg);
$url_52: url(../images/repertorio/Shostakovich.jpg);
$url_53: url(../images/repertorio/Beethoven.jpg);
$url_54: url(../images/repertorio/kodaly.jpg);
$url_55: url(../images/repertorio/Chopin.jpg);
$url_56: url(../images/repertorio/Faure.jpg);
$url_57: url(../images/repertorio/Prokofiev.jpg);
$url_58: url(../images/repertorio/Schumann.jpg);
$url_59: url(../images/repertorio/Piazzolla.jpg);
$url_60: url(../images/repertorio/Boulanger.jpg);
$url_61: url(../images/repertorio/defalla.jpg);
$url_62: url(../images/repertorio/franck.jpg);
$url_quattromani: url(../images/quattromani.png);
$url_duepiano: url(../images/duepiano.png);
$url_pianocello: url(../images/pianocello.png);
$url_quattromani_b: url(../images/quattromani_b.png);
$url_duepiano_b: url(../images/duepiano_b.png);
$url_pianocello_b: url(../images/pianocello_b.png);
$url_iconapdf: url(../images/iconapdf.png);
$url_crescendo1: url(../images/crescendo/DSCF2118.JPG);
$url_crescendo2: url(../images/crescendo/IMG00254-20121126-1032.jpg);
$url_crescendo3: url(../images/crescendo/SAGGIO5.JPG);
$url_crescendo4: url(../images/crescendo/SAGGIO1.JPG);

//dimensioni varie
$immagine_rep_width: 330px;
$immagine_rep_height: 330px;
$articolo_rep_padding: 20px;
$altezza_menu: 150px;
$dimensione_rec: 330px;
$articolo_rec_padding: 5px;


//@extend-elements
//original selectors
//html, body
%extend_1 {
	width: 100%;
	height: 100.1%;
	margin: 0 auto;
	text-align: left;
}


html {
	@extend %extend_1;
}
body {
	@extend %extend_1;
}
.CLSdisplaynone {
	display: none;
}
.CLScontenitoresfondi {
	position: fixed;
	top: 0;
	width: 100%;
	height: 100%;
}
.CLSdivsfondo {
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
	display: none;
}
.CLSsfondoattivo {
	display: block;
}
.CLSsfondo1 {
	background: $white $url_0 no-repeat center center;
	background-size: cover;
}
.CLSsfondo2 {
	background: $white $url_1 no-repeat center center;
	background-size: cover;
}
.CLSsfondo3 {
	background: $white $url_2 no-repeat center center;
	background-size: cover;
}
.CLSsfondo4 {
	background: $white $url_3 no-repeat center center;
	background-size: cover;
}
.CLSsfondo5 {
	background: $white $url_4 no-repeat center center;
	background-size: cover;
}
.CLSsfondo6 {
	background: $white $url_5 no-repeat center center;
	background-size: cover;
}
.CLSsfondo7 {
	background: $white $url_6 no-repeat center center;
	background-size: cover;
}
.CLSsfondo8 {
	background: $white $url_7 no-repeat center center;
	background-size: cover;
}
.CLSsfondo9 {
	background: $white $url_8 no-repeat center center;
	background-size: cover;
}
.CLSsfondo10 {
	background: $white $url_9 no-repeat center center;
	background-size: cover;
}
.CLSsfondo11 {
	background: $white $url_10 no-repeat center center;
	background-size: cover;
}
.CLSdivcorpo {
	position: absolute;
	top: 100%;
	width: 100%;
}
.CLSsezione {
	margin: 15px;
}
.CLStestata {
	position: fixed;
	top: 0;
	margin-top: 0;
	height: 150px;
	width: 100%;
	overflow: hidden;
	text-align: center;
	z-index: 1000;
}
.CLStestataindexiniziale {
	top: 50%;
	height: 50px;
}
.CLStestataslideshow {
	height: 25px;
}
.CLSsfondotestata {
	position: absolute;
	top: 0;
	width: 100%;
	height: 150px;
	z-index: 0;
	display: none;
}
.CLStitolooperasfondo {
	position: fixed;
	width: 0;
	right: 0;
	display: none;
	text-align: right;
	padding: 5px;
}
.CLStitolooperasfondo2 {
	width: 100%;
	bottom: 10px;
	right: 0;
}
.CLSscrittatestata {
	position: absolute;
	top: 15px;
	width: 100%;
	height: 50px;
	left: 0;
	margin-top: 0;
	line-height: 25px;
}
.CLSscrittatestatainiziale {
	line-height: 50px;
}
.CLScontenitorepulsantimenu {
	position: absolute;
	height: 150px;
	top: 45px;
	width: 100%;
}
.CLSmenu {
	margin: 0;
	padding: 0;
	top: 0;
	list-style: none;
}
.CLSmenurep {
	height: 100px;
	margin: 0;
	padding: 0;
	top: 0;
	list-style: none;
}
.CLSpulsantemenu {
	float: left;
	width: 135px;
	padding-left: 25px;
	background: transparent $url_11 no-repeat left center;
}
.CLSlinkpulsantemenu {
	display: block;
	float: left;
	height: 35px;
	text-decoration: none;
	text-align: center;
}
.CLSlinkpulsantemenurep {
	display: block;
	float: left;
	width: 100%;
	height: 35px;
	text-decoration: none;
	text-align: center;
}
.CLSlinkpulsantemenurep1 {
	background: transparent $url_quattromani no-repeat center center;
	background-size: contain;
}
.CLSlinkpulsantemenurep2 {
	background: transparent $url_duepiano no-repeat center center;
	background-size: contain;
}
.CLSlinkpulsantemenurep3 {
	background: transparent $url_pianocello no-repeat center center;
	background-size: contain;
}
.CLSlinkpulsantemenurepbianco1 {
	background: transparent $url_quattromani_b no-repeat center center;
	background-size: contain;
}
.CLSlinkpulsantemenurepbianco2 {
	background: transparent $url_duepiano_b no-repeat center center;
	background-size: contain;
}
.CLSlinkpulsantemenurepbianco3 {
	background: transparent $url_pianocello_b no-repeat center center;
	background-size: contain;
}
.CLSfootersito {
	position: absolute;
	bottom: 20px;
	width: 100%;
	height: 50px;
	text-align: center;
}
.CLSfooteradesso {
	position: absolute;
	width: 150px;
	height: 50px;
	left: 50%;
	margin-left: -75px;
	line-height: 50px;
	display: none;
	text-align: center;
}
.CLSfootercliente {
	position: absolute;
	width: 150px;
	height: 50px;
	left: 50%;
	margin-left: -75px;
	line-height: 50px;
	display: none;
	text-align: center;
}
.CLSnews {
	margin-top: 50px;
	padding-top: 5px;
}
.CLSimmaginenewsnascosta {
	display: none;
}
.CLSbioelenco {
	margin-top: 50px;
	padding-top: 5px;
}
.CLScontenitoreimmaginenews {
	position: absolute;
	right: 50%;
	width: 50%;
	height: 600px;
	overflow: hidden;
	opacity: 0.2;
}
.CLSimmaginenews {
	position: absolute;
	right: 0;
	width: 1000px;
	height: 600px;
}
.CLSnewscorpo {
	position: absolute;
	left: 0;
	padding-left: 0;
	width: 100%;
}
.CLScontenitorearticolo {
	position: relative;
	overflow: hidden;
	width: 100%;
	height: 300px;
}
.CLScontenitoresezioni {
	position: absolute;
	top: 100px;
	width: 500px;
	left: 50%;
	margin-left: -250px;
	list-style: none;
	padding: 0;
	display: inline;
}
.CLScontenitoresezionibio {
	width: 100%;
	position: absolute;
	left: 0;
	padding: 0;
	display: inline;
}
.CLScontenitoresezioniampio {
	width: 100%;
	left: 0;
	margin-left: 0;
}
.CLSsfondocontenitoresezioni {
	position: absolute;
	width: 500px;
	height: 100px;
	left: 50%;
	margin-left: -250px;
	z-index: 0;
}
.CLSarticolosezione {
	overflow: hidden;
	height: 250px;
}
.CLScontenitoresegnapostosfondi {
	position: fixed;
	width: 100%;
	height: 15px;
	bottom: 75px;
	right: 5px;
	display: none;
}
.CLSsegnapostosfondi {
	display: inline;
	width: 5px;
	height: 5px;
	float: right;
	margin: 5px;
}
.CLSslideshowfreccia {
	position: fixed;
	bottom: 5px;
	margin: 5px;
	a {
		text-decoration: none !important;
	}
}
.CLSslideshowfrecciasx {
	left: 0;
}
.CLSslideshowfrecciadx {
	right: 0;
}
.CLSslideshowtitolosezionemenu {
	position: fixed;
	top: 100px;
	left: 0;
	width: 250px;
	z-index: 500;
}
.CLSfootertecnico {
	position: fixed;
	bottom: 0;
	height: 20px;
	width: 100%;
	z-index: 1000;
}
.CLSinfocookies {
	position: absolute;
	margin-top: 0;
	margin-left: 140px;
}
.CLSpowered {
	position: absolute;
	margin-top: -5px;
	width: 25px;
	height: 25px;
	background: transparent $url_18 no-repeat center center;
	background-size: cover;
	overflow: hidden;
}
.CLSpoweredgrande {
	margin-top: -130px;
	width: 150px;
	height: 150px;
}
.CLSpoweredtesto {
	position: absolute;
	left: 0;
	top: 60px;
	width: 150px;
}
.CLSvisualizzatorestatistiche {
	position: absolute;
	margin-left: 30px;
	margin-top: 3px;
}
.CLScorpoinfocookies {
	position: absolute;
	width: 90%;
	top: 150px;
	padding: 15px;
}
.CLScontenitoreinfocookies {
	position: absolute;
	width: 100%;
	height: 1300px;
}
.CLSchiudiinfocookies {
	position: absolute;
	width: 90%;
	text-align: right;
}
.CLSlingua {
	position: absolute;
	margin-top: 0;
	width: 20px;
	height: 20px;
	overflow: hidden;
}
.CLSlinguait {
	right: 30px;
	background: transparent $url_19 no-repeat center center;
	background-size: cover;
}
.CLSlinguaen {
	right: 5px;
	background: transparent $url_20 no-repeat center center;
	background-size: cover;
}
.CLSlinguamedia {
	margin-top: -30px;
	width: 50px;
	height: 50px;
}
.CLSlinguagrande {
	margin-top: -200px;
	width: 220px;
	height: 220px;
	opacity: 0.1;
}
article {
	margin: 10px;
	padding: 10px;
}
.CLSnavigazionerepertorio {
	width: 100%;
	height: 50px;
}
.CLSnavigazionerepertoriofissa {
	display: none;
	z-index: 200;
	position: fixed;
	top: $altezza_menu;
	height: 50px;
}
.CLSnavigazionereppulsante {
	float: left;
	width: 100px;
	height: 50px;
}
.CLSsfondoarticolorep {
	position: absolute;
	z-index: 0;
	width: 300px;
	min-height: 250px;
}
.CLSarticolorep {
	min-height: 250px;
}
.CLSarticoloreptesto {
	position: absolute;
	z-index: 1;
	min-height: 250px;
	padding: 10px;
}
.CLSarticolorec {
	footer {
		margin-top: 10px;
		padding: 5px;
		background: $color_red_berry_approx $url_iconapdf no-repeat right center;
		background-size: contain;
		a {
			width: 100%;
		}
	}
}
.CLSrecensioni {
	clear: both;
}
.CLScrescendo {
	clear: both;
	padding-bottom: 15px;	
	.CLScrescendosfondo {
		width: 100%;
		height: 300px;
	}
	.CLScrescendosfondo1 {
		background: $color_crescendo $url_crescendo1 no-repeat center center;
		background-size: cover;
	}
	.CLScrescendosfondo2 {
		background: $color_crescendo $url_crescendo2 no-repeat center center;
		background-size: cover;
	}
	.CLScrescendosfondo3 {
		background: $color_crescendo $url_crescendo3 no-repeat center center;
		background-size: cover;
	}
	.CLScrescendosfondo4 {
		background: $color_crescendo $url_crescendo4 no-repeat center center;
		background-size: cover;
	}
	.CLScrescendocitazione {
		width: 300px;
		margin-top: -75px;
		margin-left: auto;
		margin-right: auto;
		padding: 15px;
	}
}

@media only screen and(min-width:768px) {
	.CLSsezione {
		margin-left: 10%;
		margin-right: 10%;
	}
	.CLSscrittatestata {
		width: 100%;
		top: 15px;
	}
	.CLStestata {
		height: 150px;
	}
	.CLScontenitorepulsantimenu {
		top: 50px;
		width: 768px;
		left: 50%;
		margin-left: -375px;
	}
	.CLSpulsantemenu {
		width: 125px;
	}
	.CLStestataslideshow {
		height: 100px;
	}
	.CLSslideshowdettagliarticolo {
		top: 100px;
		height: 50px;
	}
	.CLScontenitorepulsantimenuslideshow {
		visibility: visible;
	}
	.CLSslideshowtitolosezione {
		margin-left: 45px;
		display: inline;
	}
	.CLSslideshowdescrizionearticolo {
		margin-left: 25px;
		display: inline;
	}
	.CLSslideshowtitoloarticolo {
		margin-left: 25px;
		display: inline;
	}
	.CLSraggruppamentosezione {
		display: block;
		clear: both;
		padding-top: 50px;
	}
	.CLScurriculum {
		list-style: none;
	}
	.CLSarticolocurr {
		min-height: 330px;
	}
	.CLSarticolotesto {
		margin-right: 350px;
	}
	.CLSarticolocurr1 {
		background: $white $url_21 no-repeat right center;
		background-size: 350px 350px;
	}
	.CLSarticolocurr2 {
		background: $white $url_22 no-repeat right center;
		background-size: 350px 350px;
	}
	.CLSarticolocurr3 {
		background: $white $url_23 no-repeat right center;
		background-size: 350px 350px;
	}
	.CLSarticolocurr4 {
		background: $white $url_24 no-repeat right center;
		background-size: 350px 350px;
	}
	.CLSarticolocurr5 {
		background: $white $url_25 no-repeat right center;
		background-size: 350px 350px;
	}
	.CLSarticolocurr6 {
		background: $white $url_26 no-repeat right center;
		background-size: 350px 350px;
	}
	.CLSarticolocurr7 {
		background: $white $url_27 no-repeat right center;
		background-size: 350px 350px;
	}
	.CLSarticolocurr8 {
		background: $white $url_28 no-repeat right center;
		background-size: 350px 350px;
	}
	.CLSnavigazionereppulsante {
		width: 33%;
	}
	.CLSarticolorep {
		overflow: hidden;
		width: $immagine_rep_width;
		height: $immagine_rep_height;
		float: left;
	}
	.CLSsfondoarticolorep {
		position: absolute;
		z-index: 0;
		width: $immagine_rep_width + $articolo_rep_padding;
		height: $immagine_rep_height + $articolo_rep_padding;
		margin: -$articolo_rep_padding / 2;
	}
	.CLSarticoloreptesto {
		position: absolute;
		z-index: 1;
		width: $immagine_rep_width;
		height: $immagine_rep_height;
		padding: 10px;
	}
	.CLSarticolorep1 {
		background: $white $url_29 no-repeat right center;
		background-size: ($immagine_rep_width + $articolo_rep_padding) ($immagine_rep_height + $articolo_rep_padding);
	}
	.CLSarticolorep2 {
		background: $white $url_30 no-repeat right center;
		background-size: ($immagine_rep_width + $articolo_rep_padding) ($immagine_rep_height + $articolo_rep_padding);
	}
	.CLSarticolorep3 {
		background: $white $url_31 no-repeat right center;
		background-size: ($immagine_rep_width + $articolo_rep_padding) ($immagine_rep_height + $articolo_rep_padding);
	}
	.CLSarticolorep4 {
		background: $white $url_32 no-repeat right center;
		background-size: ($immagine_rep_width + $articolo_rep_padding) ($immagine_rep_height + $articolo_rep_padding);
	}
	.CLSarticolorep5 {
		background: $white $url_33 no-repeat right center;
		background-size: ($immagine_rep_width + $articolo_rep_padding) ($immagine_rep_height + $articolo_rep_padding);
	}
	.CLSarticolorep6 {
		background: $white $url_34 no-repeat right center;
		background-size: ($immagine_rep_width + $articolo_rep_padding) ($immagine_rep_height + $articolo_rep_padding);
	}
	.CLSarticolorep7 {
		background: $white $url_35 no-repeat right center;
		background-size: ($immagine_rep_width + $articolo_rep_padding) ($immagine_rep_height + $articolo_rep_padding);
	}
	.CLSarticolorep8 {
		background: $white $url_36 no-repeat right center;
		background-size: ($immagine_rep_width + $articolo_rep_padding) ($immagine_rep_height + $articolo_rep_padding);
	}
	.CLSarticolorep9 {
		background: $white $url_37 no-repeat right center;
		background-size: ($immagine_rep_width + $articolo_rep_padding) ($immagine_rep_height + $articolo_rep_padding);
	}
	.CLSarticolorep10 {
		background: $white $url_38 no-repeat right center;
		background-size: ($immagine_rep_width + $articolo_rep_padding) ($immagine_rep_height + $articolo_rep_padding);
	}
	.CLSarticolorep11 {
		background: $white $url_39 no-repeat right center;
		background-size: ($immagine_rep_width + $articolo_rep_padding) ($immagine_rep_height + $articolo_rep_padding);
	}
	.CLSarticolorep12 {
		background: $white $url_40 no-repeat right center;
		background-size: ($immagine_rep_width + $articolo_rep_padding) ($immagine_rep_height + $articolo_rep_padding);
	}
	.CLSarticolorep13 {
		background: $white $url_41 no-repeat right center;
		background-size: ($immagine_rep_width + $articolo_rep_padding) ($immagine_rep_height + $articolo_rep_padding);
	}
	.CLSarticolorep14 {
		background: $white $url_42 no-repeat right center;
		background-size: ($immagine_rep_width + $articolo_rep_padding) ($immagine_rep_height + $articolo_rep_padding);
	}
	.CLSarticolorep15 {
		background: $white $url_43 no-repeat right center;
		background-size: ($immagine_rep_width + $articolo_rep_padding) ($immagine_rep_height + $articolo_rep_padding);
	}
	.CLSarticolorep16 {
		background: $white $url_44 no-repeat right center;
		background-size: ($immagine_rep_width + $articolo_rep_padding) ($immagine_rep_height + $articolo_rep_padding);
	}
	.CLSarticolorep17 {
		background: $white $url_45 no-repeat right center;
		background-size: ($immagine_rep_width + $articolo_rep_padding) ($immagine_rep_height + $articolo_rep_padding);
	}
	.CLSarticolorep18 {
		background: $white $url_46 no-repeat right center;
		background-size: ($immagine_rep_width + $articolo_rep_padding) ($immagine_rep_height + $articolo_rep_padding);
	}
	.CLSarticolorep19 {
		background: $white $url_47 no-repeat right center;
		background-size: ($immagine_rep_width + $articolo_rep_padding) ($immagine_rep_height + $articolo_rep_padding);
	}
	.CLSarticolorep20 {
		background: $white $url_48 no-repeat right center;
		background-size: ($immagine_rep_width + $articolo_rep_padding) ($immagine_rep_height + $articolo_rep_padding);
	}
	.CLSarticolorep21 {
		background: $white $url_49 no-repeat right center;
		background-size: ($immagine_rep_width + $articolo_rep_padding) ($immagine_rep_height + $articolo_rep_padding);
	}
	.CLSarticolorep22 {
		background: $white $url_50 no-repeat right center;
		background-size: ($immagine_rep_width + $articolo_rep_padding) ($immagine_rep_height + $articolo_rep_padding);
	}
	.CLSarticolorep23 {
		background: $white $url_51 no-repeat right center;
		background-size: ($immagine_rep_width + $articolo_rep_padding) ($immagine_rep_height + $articolo_rep_padding);
	}
	.CLSarticolorep24 {
		background: $white $url_52 no-repeat right center;
		background-size: ($immagine_rep_width + $articolo_rep_padding) ($immagine_rep_height + $articolo_rep_padding);
	}
	.CLSarticolorep25 {
		background: $white $url_53 no-repeat right center;
		background-size: ($immagine_rep_width + $articolo_rep_padding) ($immagine_rep_height + $articolo_rep_padding);
	}
	.CLSarticolorep26 {
		background: $white $url_54 no-repeat right center;
		background-size: ($immagine_rep_width + $articolo_rep_padding) ($immagine_rep_height + $articolo_rep_padding);
	}
	.CLSarticolorep27 {
		background: $white $url_55 no-repeat right center;
		background-size: ($immagine_rep_width + $articolo_rep_padding) ($immagine_rep_height + $articolo_rep_padding);
	}
	.CLSarticolorep28 {
		background: $white $url_56 no-repeat right center;
		background-size: ($immagine_rep_width + $articolo_rep_padding) ($immagine_rep_height + $articolo_rep_padding);
	}
	.CLSarticolorep29 {
		background: $white $url_57 no-repeat right center;
		background-size: ($immagine_rep_width + $articolo_rep_padding) ($immagine_rep_height + $articolo_rep_padding);
	}
	.CLSarticolorep30 {
		background: $white $url_58 no-repeat right center;
		background-size: ($immagine_rep_width + $articolo_rep_padding) ($immagine_rep_height + $articolo_rep_padding);
	}
	.CLSarticolorep31 {
		background: $white $url_59 no-repeat right center;
		background-size: ($immagine_rep_width + $articolo_rep_padding) ($immagine_rep_height + $articolo_rep_padding);
	}
	.CLSarticolorep32 {
		background: $white $url_60 no-repeat right center;
		background-size: ($immagine_rep_width + $articolo_rep_padding) ($immagine_rep_height + $articolo_rep_padding);
	}
	.CLSarticolorep33 {
		background: $white $url_61 no-repeat right center;
		background-size: ($immagine_rep_width + $articolo_rep_padding) ($immagine_rep_height + $articolo_rep_padding);
	}
	.CLSarticolorep34 {
		background: $white $url_62 no-repeat right center;
		background-size: ($immagine_rep_width + $articolo_rep_padding) ($immagine_rep_height + $articolo_rep_padding);
	}
	.CLSarticolorec {
		width: $dimensione_rec;
		height: $dimensione_rec;
		float: left;
		overflow: hidden;
		padding: $articolo_rec_padding;
		.CLSarticolorectesto {
			position: absolute;
			height: $dimensione_rec - 50px;
			width: $dimensione_rec;
		}
		footer {
			position: absolute;
			margin-top: $dimensione_rec - 100px;
			margin-left: -$articolo_rec_padding;
			width: $dimensione_rec;
			height: 50px;
		}
	}	
	.CLScrescendo {
		.CLScrescendotesto {
			width: 500px;
			height: 500px;
			margin-left: auto;
			margin-right: auto;
			padding: 25px;
		}
		.CLScrescendosfondo {
			width: 132%;
			height: 500px;
			margin-left: -20%;
		}
		.CLScrescendocitazione {
			width: 100%;
		}
	}
	/*.CLSarticolocon {
		width: $dimensione_rec;
		height: $dimensione_rec;
		float: left;
		overflow: hidden;
		padding: $articolo_rec_padding;
	}	*/
}
@media only screen and(min-width:1024px) {
	$altezza_menu: 50px;
	.CLStestata {
		height: $altezza_menu;
	}
	.CLSsfondotestata {
		height: $altezza_menu;
	}
	.CLSscrittatestata {
		top: 0;
		width: 430px;
		height: 100px;
		left: 5px;
		line-height: $altezza_menu;
	}
	.CLStestatatop {
		height: $altezza_menu;
	}
	.CLScontenitorepulsantimenu {
		width: 800px;
		height: $altezza_menu;
		top: 0;
		right: 0;
		left: auto;
		margin-left: auto;
	}
	.CLSpulsantemenu {
		width: 135px;
	}
	.CLSlinkpulsantemenu {
		margin-top: 10px;
		height: 49px;
	}
	.CLSlinkpulsantemenurep {
		margin-top: 10px;
		height: 50px;
		text-height: 60px;
	}	
	.CLSnavigazionerepertoriofissa {
		display: none;
		z-index: 200;
		position: fixed;
		top: $altezza_menu;
		height: 75px;
	}
	.CLScontenitoresegnapostosfondi {
		position: fixed;
		width: 100%;
		bottom: 75px;
		right: 15px;
		display: none;
	}
	.CLSsegnapostosfondi {
		width: 10px;
		height: 10px;
		margin: 10px;
	}
	.CLStitolooperasfondo {
		position: fixed;
		width: 100%;
		bottom: 10px;
		right: 0;
		display: none;
		text-align: right;
		padding: 5px;
	}
	.CLStitolooperasfondo2 {
		width: 100%;
		bottom: 10px;
		right: 20px;
	}
	.CLScorpoinfocookies {
		position: absolute;
		width: 700px;
		top: 50px;
		left: 50%;
		margin-left: -350px;
		padding: 15px;
	}
	.CLScontenitoresezioni {
		top: 50px;
	}
	.CLSslideshowdettagliarticolo {
		top: 50px;
		height: 50px;
	}
}
